.header {
    background: #000;
}
.header__inner {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}
.header__utilities {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}
.header__utilitie nav {
    width: 18%;
}
.header-nav__button {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}